gymnasium~=0.28.1
PyYAML
chardet
numpy~=1.23.5
causalnex~=0.12.1
vmas~=1.4.1
tqdm~=4.66.4
pandas~=1.5.3
setuptools~=68.2.0
torch~=2.2.0+cu118
networkx~=3.2.1
matplotlib~=3.9.0
gym~=0.26.2
ray~=2.20.0
causal-learn